
a,
a:visited,
a:active {
    text-decoration: none;
    color: black;
    font-family: "Baloo Tammudu 2", cursive;
}

.elems {
    padding-left: 30px;
    margin-top: 0;
    /*# top, right, bottom, left*/
}

h1{
    margin: 0 0 0 0;
    display: flex;
}


html {
    height: 100%;
}

body{
    margin: 0;
    padding: 0 20% 0 20%;
    height: 100%;
    background-color: #78aee1;
}

main {
    margin: 0;
    height: 100%;
}



.heading{
    font-size: 40px;

}

.heading a,
.heading a:visited,
.heading a:active{
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    color: azure;
}

.ajay {
    text-decoration: underline;
}

